/* MyCourses.css */
.container {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    background: linear-gradient(135deg, #cbcaeb, #1435ee);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #080808;
  }

  /* Estilo para el título principal */
  h1 {
    color: #100c4e;
    margin-bottom: 20px;
  }

  /* Estilo para la grilla de cursos */
  .courses-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
  }

  /* Estilo para cada curso */
  .course-card {
    background-color: rgba(10, 10, 10, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    flex: 1 1 calc(33% - 40px);
    max-width: calc(33% - 40px);
    box-sizing: border-box;
    color: #333;
  }

  .course-card:hover {
    transform: scale(1.05);
  }

  /* Estilo para el título del curso */
  .course-card h2 {
    color: #100c4e;
    margin-bottom: 10px;
  }

  /* Estilo para la descripción del curso */
  .course-card p {
    color: #666;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
  }
