@import url('https://fonts.googleapis.com/css2?family=Domine&family=Poppins:wght@400;600;700&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;

}



body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./components/Aseets/fondo1.jpeg') no-repeat ;
  background-size: cover;
  background-position: center;
}

