.wrapper {
    position: relative;
    width: 420px;
    height: 450px;
    background: #a0c7d3b0;
    border-radius: 10px;
    color: #0a0a0a;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .wrapper.active {
    height: 520px;
  }
  
  .wrapper .from-box {
    width: 100%;
    padding: 40px;
    transition: transform 0.5s ease;
  }
  
  .wrapper .from-box.login {
    transform: translateX(0);
  }
  
  .wrapper.active .from-box.login {
    transform: translateX(-400px);
  }
  
  .wrapper .from-box.register {
    position: absolute;
    transform: translateX(400px);
    transition: transform 0.5s ease;
  }
  
  .wrapper.active .from-box.register {
    transform: translateX(0);
  }
  
  form h1 {
    font-size: 36px;
    text-align: center;
  }
  
  form .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    font-size: 16px;
    color: #080808;
    padding: 20px 45px 20px 20px;
  }
  
  .input-box input::placeholder {
    color: #050505;
  }
  
  .input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
  }
  
  form .olvidar {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 -15px;
  }
  
  .olvidar a {
    color: #080808;
    text-decoration: none;
  }
  
  .olvidar a:hover {
    text-decoration: underline;
  }
  
  form button {
    width: 100%;
    height: 45px;
    background-color: #0e0d0d;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(238, 237, 237, 0.1);
    font-size: 16px;
    color: #fff;
    font-weight: 700px;
    margin-top: 40px;
  }
  
  form .register {
    text-align: center;
    font-size: 14.5px;
    margin: 20px 0 15px;
  }
  
  .register p a {
    color: #131313;
    text-decoration: none;
    font-weight: 600;
  }
  
  .register p a:hover {
    text-decoration: underline;
  }